<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/common/common.js"></script>
</head>
<body style="padding: 50px">

<form class="form-horizontal" action="/addbook" id="addbooks" method="post">
    <div class="form-group">
        <label for="" class="col-sm-2 control-label">书籍编号</label>
        <div class="col-sm-10">
            <input name="bookId" class="form-control" id="" placeholder="请输入">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">书籍名称</label>
        <div class="col-sm-10">
            <input name="bookName" class="form-control"  placeholder="请输入">
        </div>
    </div>
    <div class="form-group">
        <label for="" class="col-sm-2 control-label">书籍类型</label>
        <div class="col-sm-10">
            <select name="bookType" class="form-control">
                <option value="1">青春</option>
                <option value="2">小说</option>
                <option value="3">文学</option>
                <option value="4">艺术</option>
                <option value="5">动漫/幽默</option>
                <option value="6">娱乐时尚</option>
                <option value="7">旅游</option>
                <option value="8">地图/地理</option>
                <option value="9">生活</option>
                <option value="10">婚恋/性</option>
                <option value="11">育儿/成长</option>
                <option value="12">保健/心理健康</option>
                <option value="13">体育</option>
                <option value="14">自我实现/励志</option>
                <option value="15">管理</option>
                <option value="16">经济</option>
                <option value="17">法律</option>
                <option value="18">政治/军事</option>
                <option value="19">哲学/宗教</option>
                <option value="20">社会科学</option>
                <option value="21">古籍</option>
                <option value="22">文化</option>
                <option value="23">历史</option>
                <option value="24">传记</option>
                <option value="25">少儿</option>
                <option value="26">中小学教辅</option>
                <option value="27">外语</option>
                <option value="28">考试</option>
                <option value="29">教材</option>
                <option value="30">工具书</option>
                <option value="31">科普读物</option>
                <option value="32">计算机/网络</option>
                <option value="33">医学</option>
                <option value="34">原版书</option>
                <option value="35">科学技术</option>
                <option value="36">科文商科教材</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="" class="col-sm-2 control-label">书籍数量</label>
        <div class="col-sm-10">
            <input name="bookNum"  class="form-control" placeholder="请输入">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">书籍作者</label>
        <div class="col-sm-10">
            <input name="bookAuthor" class="form-control" placeholder="请输入">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">书籍简介</label>
        <div class="col-sm-10">
    <textarea name="bookDetail" class="form-control" rows="3"></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary" id="btn1">确认添加</button>
        </div>
    </div>
</form>
</div>
</body>
<script>

    $(function () {
        $('form').bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                bookId: {
                    message: '验证失败',
                    validators: {
                        notEmpty: {
                            message: '书籍编号不能为空'
                        },
                        regexp: {
                            regexp: /^[0-9]+$/,
                            message: '书籍编号只能是数字'
                        },
                        stringLength: {
                            min: 2,
                            max: 18,
                            message: '书籍编号长度必须在6到18位之间'
                        },
                    }
                },
                bookName: {
                    validators: {
                        notEmpty: {
                            message: '书籍名称不能为空'
                        }
                    }
                },
                bookDetail: {
                    validators: {
                        notEmpty: {
                            message: '书籍简介不能为空'
                        }
                    }
                },
                bookType: {
                    validators: {
                        notEmpty: {
                            message: '书籍类型不能为空'
                        }
                    }
                },
                bookNum: {
                    validators: {
                        notEmpty: {
                            message: '书籍数量不能为空'
                        },
                        regexp: {
                            regexp: /^[0-9]+$/,
                            message: '书籍数量只能是数字'
                        },
                    }
                },
                bookAuthor: {
                    validators: {
                        notEmpty: {
                            message: '书籍作者不能为空'
                        }
                    }
                }
            }
        })}).on("success.form.bv",function(e){
                $("#message" , parent.document).text("添加成功");
                $("#mes" , parent.document).click();
    });
</script>
</html>