<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mikey.eas.Mapper.BookMapper">
  <resultMap id="BaseResultMap" type="com.mikey.eas.Pojo.Book">
    <id column="book_id" jdbcType="INTEGER" property="bookId" />
    <result column="book_name" jdbcType="VARCHAR" property="bookName" />
    <result column="book_detail" jdbcType="VARCHAR" property="bookDetail" />
    <result column="book_type" jdbcType="INTEGER" property="bookType" />
    <result column="book_num" jdbcType="INTEGER" property="bookNum" />
    <result column="book_author" jdbcType="VARCHAR" property="bookAuthor" />
      <association property="bookTypes" javaType="com.mikey.eas.Pojo.BookType">
        <id column="type_id"  property="typeId" />
        <result column="type_name" property="typeName" />
      </association>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    book_id, book_name, book_detail, book_type, book_num, book_author,type_id,type_name
  </sql>
  <select id="selectByExample" parameterType="com.mikey.eas.Pojo.BookExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from lib_book left join lib_book_type on type_id=book_type
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <!--查询-->
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from lib_book left join lib_book_type on type_id=book_type
    where book_id = #{bookId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from lib_book
    where book_id = #{bookId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.mikey.eas.Pojo.BookExample">
    delete from lib_book
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mikey.eas.Pojo.Book">
    insert into lib_book (book_id, book_name, book_detail, 
      book_type, book_num, book_author
      )
    values (#{bookId,jdbcType=INTEGER}, #{bookName,jdbcType=VARCHAR}, #{bookDetail,jdbcType=VARCHAR}, 
      #{bookType,jdbcType=INTEGER}, #{bookNum,jdbcType=INTEGER}, #{bookAuthor,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mikey.eas.Pojo.Book">
    insert into lib_book
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bookId != null">
        book_id,
      </if>
      <if test="bookName != null">
        book_name,
      </if>
      <if test="bookDetail != null">
        book_detail,
      </if>
      <if test="bookType != null">
        book_type,
      </if>
      <if test="bookNum != null">
        book_num,
      </if>
      <if test="bookAuthor != null">
        book_author,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bookId != null">
        #{bookId,jdbcType=INTEGER},
      </if>
      <if test="bookName != null">
        #{bookName,jdbcType=VARCHAR},
      </if>
      <if test="bookDetail != null">
        #{bookDetail,jdbcType=VARCHAR},
      </if>
      <if test="bookType != null">
        #{bookType,jdbcType=INTEGER},
      </if>
      <if test="bookNum != null">
        #{bookNum,jdbcType=INTEGER},
      </if>
      <if test="bookAuthor != null">
        #{bookAuthor,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mikey.eas.Pojo.BookExample" resultType="java.lang.Long">
    select count(*) from lib_book
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update lib_book
    <set>
      <if test="record.bookId != null">
        book_id = #{record.bookId,jdbcType=INTEGER},
      </if>
      <if test="record.bookName != null">
        book_name = #{record.bookName,jdbcType=VARCHAR},
      </if>
      <if test="record.bookDetail != null">
        book_detail = #{record.bookDetail,jdbcType=VARCHAR},
      </if>
      <if test="record.bookType != null">
        book_type = #{record.bookType,jdbcType=INTEGER},
      </if>
      <if test="record.bookNum != null">
        book_num = #{record.bookNum,jdbcType=INTEGER},
      </if>
      <if test="record.bookAuthor != null">
        book_author = #{record.bookAuthor,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update lib_book
    set book_id = #{record.bookId,jdbcType=INTEGER},
      book_name = #{record.bookName,jdbcType=VARCHAR},
      book_detail = #{record.bookDetail,jdbcType=VARCHAR},
      book_type = #{record.bookType,jdbcType=INTEGER},
      book_num = #{record.bookNum,jdbcType=INTEGER},
      book_author = #{record.bookAuthor,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mikey.eas.Pojo.Book">
    update lib_book
    <set>
      <if test="bookName != null">
        book_name = #{bookName,jdbcType=VARCHAR},
      </if>
      <if test="bookDetail != null">
        book_detail = #{bookDetail,jdbcType=VARCHAR},
      </if>
      <if test="bookType != null">
        book_type = #{bookType,jdbcType=INTEGER},
      </if>
      <if test="bookNum != null">
        book_num = #{bookNum,jdbcType=INTEGER},
      </if>
      <if test="bookAuthor != null">
        book_author = #{bookAuthor,jdbcType=VARCHAR},
      </if>
    </set>
    where book_id = #{bookId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mikey.eas.Pojo.Book">
    update lib_book
    set book_name = #{bookName,jdbcType=VARCHAR},
      book_detail = #{bookDetail,jdbcType=VARCHAR},
      book_type = #{bookType,jdbcType=INTEGER},
      book_num = #{bookNum,jdbcType=INTEGER},
      book_author = #{bookAuthor,jdbcType=VARCHAR}
    where book_id = #{bookId,jdbcType=INTEGER}
  </update>
  <select id="getDataStatistics" resultType="java.util.Map">
    SELECT lbt.type_name,count(lb.book_id) num
    FROM
    lib_book_type lbt
    LEFT JOIN
    lib_book lb
    on
    lbt.type_id=lb.book_type
    GROUP BY
    lbt.type_id
  </select>
</mapper>